<center> <h2> DS 3000 - Fall 2019</h2> </center>
<center> <h3> DS Report </h3> </center>

<center> <h1> Northeastern Transportation Analysis</h1> </center>
<center><h4>Benjamin Jacobson, Divit Koradia, Kyle Chu</h4></center>

<hr style="height:2px; border:none; color:black; background-color:black;">

#### Executive Summary:

Add your summary here (100-150 words)

Provide a brief summary of your project. After reading this executive summary, your readers should have a rough understanding of what you did in this project. You can think of this summary in terms of the four sections of the report and write 1-2 sentences describing each section.

 Have you ever wondered what is the best way to get from Mission Hill to Northeastern campus and vice versa? When you’re in a rush calculating the time and cost of different transportation types can be tedious. Our goal is to find an answer to the best transportation type in terms of speed and cost. We will be looking at MBTA, Uber, and Bluebikes. We will be comparing the average time and cost it takes people to make it from Mission Hill to Northeastern and vice versa. Our datasets are pulled from the different transportation types websites. The data includes the time it takes to complete trips, so for Uber the time from pickup to drop off, Bluebikes it’s time for a rider to go from one station to another, and for MBTA Roxbury Crossing to Ruggles and Brigham Circle to Northeastern. Bluebikes and Uber also have the cost of each trip. MBTA and Bluebikes also have the option for a fixed cost ride structure where you can pay one price for the whole trip or use a monthly or yearly pass. We plan to measure from a point on campus to a point on Mission Hill. We will take into account average / estimated walking speeds from a station to the point.

<hr style="height:2px; border:none; color:black; background-color:black;">

## Outline
1. <a href='#1'>INTRODUCTION</a>
2. <a href='#2'>METHOD</a>
3. <a href='#3'>RESULTS</a>
4. <a href='#4'>DISCUSSION</a>

<a id="1"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 1. INTRODUCTION

In this section, orient your readers to your project. You've already written some of these in previous deliverables. Based on your final analysis, revise your problem statement and write a concise introduction section. This section should touch upon the following points, but should be written in full paragraphs. Your writing should incorporate all of these points (and more if you like) in a coherent way. Remember that you are trying to convince your readers that this is an important problem to tackle. 

Problem Statement
* Describe the problem you would like to tackle.   
* What is the topic of your project? 
* What do you want to learn about it?    
    - We want to find the best transportation method between Northeastern and Mission Hill. Lots of students live off campus near mission hill, so we'd like to help them get to campus more effectively. 
    - Transportation between two points, based on personal preferences. 
    - Depending on the person, which mode of transportation would be the most effective for them to get to campus. 


Significance of the Problem
* Why is it important to tackle this problem in your project?
* In what ways could the insights from this project be useful?
* Has there been previous work on your topic? Do some research into your topic. Cite your sources appropriately. You can use the numbered reference format or APA (if you are more comfortable with it).

     - It's important for us to find the best mode of transportation for each individual person as Northeastern has a very large demographic of students living/commuting to and from Mission Hill. Based on how prospective users value time, money, distance, and wait-time, we'd like to show which mode of transportation would be best fit. There hasn't been previous work on our topic. The most similar reasearch has been in estimating prices in Boston, but not choosing optimal modes of transportation. 
     - 

Questions/Hypothesis
* End this section with a list of questions and hypotheses
* You should tie these questions/hypotheses to the problem statement and its significance
    * e.g. Given the aforementioned problem and its importance, we set out to tackle the following questions:
    
    
    Which mode of transportation is best:
    Which mode of transportation has the lowest average wait time for rides?
    Which mode of transportation has the lowest average trip time from point A to point B?
    Which mode of transportation has the least amount of walking on average?
    Which mode of transportation has the lowest average cost?

    
    H0: MBTA >= Uber and Bluebikes
    H1: MBTA < Uber and Bluebikes
    The average cost for a trip will be lowest for MBTA and highest for Uber(Cost / Distance, Cost / Time) 

    H0: Bluebikes >= MBTA and Bluebikes
    H1: Bluebikes < MBTA and Bluebikes
    Average total commute time will be lowest for Bluebike and highest for MBTA

    H0: Uber >= MBTA and Bluebikes
    H1: Uber < MBTA and Bluebikes
    Average walking time will be lowest for Uber and highest for MBTA

    H0: Bluebikes >= MBTA and Uber
    H1: Bluebikes < MBTA and Uber
    Average wait time will be lowest for Bluebikes and highest for MBTA


**Requirement:**
* You should have at least one question tapping into the comparison of various machine learning algorithms in predicting your target variable from your features variables.

<a id="2"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 2. METHOD

### 2.1. Data Acquisition

* Describe where you obtained your data. Provide a link to the original source. 
* If you scraped your data, include your code as a script file.
* Your data should be stored in an online repository (e.g., GitHub) and your code should retrieve your data from that online resource. You can read csv files from the Web in the same way that you read files from local drive.
* Describe the dataset and variables. What do variables represent?

In [ ]:
https://www.ctps.org/apps/mbtasurvey2018/#navButton
    
    
https://www.bluebikes.com/system-data
    
https://movement.uber.com/explore/boston/travel-times/query?si=302&ti=1118&ag=censustracts&dt[tpb]=ALL_DAY&dt[wd;]=1,2,3,4,5,6,7&dt[dr][sd]=2019-06-01&dt[dr][ed]=2019-06-30&cd=&sa;=-71.0908821,42.3391989&sdn=Northeastern%20University%20School%20of%20Law,%20416%20Huntington%20Ave,%20Boston,%20MA&lng.=-71.2121505&lat.=42.3599474&z.=11.49&ta;=-71.0993596,42.3330516&tdn=Mission%20Hill%20Playground,%20Boston,%20MA&lang=en-US
#NEU to Mission Hill

### 2.2. Variables
* If you are testing hypotheses, what are your IVs and DVs?
* For your predictive models, what are your features and target variables?

### 2.3. Data Analysis
* Specifically describe your predictive model. What outcome variable are you going to predict from what feature variables?
* Describe whether this is a supervised or unsupervised learning problem. Also identify the sub-category of the learning task (e.g. classification).
* What machine learning algorithms are you going to use? Why?

<a id="3"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 3. RESULTS

### 3.1. Data Wrangling
* Perform simple data cleaning (delete extra columns, deal with NA values, etc.)
* Perform data wrangling to extract your features and target values (e.g., grouping your dataframe by columns, applying functions to format dataframes, etc.)
* Preprocess your variables (e.g., scaling/transforming feature variables to normalize them)
* Feature extraction (dummy variables, new features from existing features, etc.)
* Use one feature selection technique to select a subset of your original features

In [3]:
import pandas as pd
import numpy as np
import requests
import glob 
import os

path = r'C:\Users\dbk29\Downloads' # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))

df_from_each_file = (pd.read_csv(f, 
                                 usecols=['tripduration','start station id','start station name','start station latitude','start station longitude', 'end station id','end station name','end station latitude','end station longitude'] ) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
concatenated_df.set_index(['start station id','end station id'], inplace=True)
roxbury_data = concatenated_df.xs([27, 12], level = ['start station id', 'end station id'])
brigham_data = concatenated_df.xs([30, 12], level = ['start station id', 'end station id'])
blue_bikes = pd.concat([roxbury_data, brigham_data])
blue_bikes.reset_index(inplace=True)
blue_bikes.to_excel("blue_bikes_data.xlsx", index=False)

ValueError: No objects to concatenate

### 3.2. Data Exploration
* Generate appropriate data visualizations for your key variables identified in the previous section
* You should have at least three visualizations (and at least two different visualization types)
* For each visualization provide an explanation regarding the variables involved and an interpretation of the graph.
* If you are using Plotly, insert your visualizations as images as well (upload the graph images to an online source, e.g. github, and link those in Jupyter Notebook)

In [50]:
import pandas as pd
import numpy as np
import requests
import glob 
import os
import pprint

data_sets = {}
git_url = './data_sets/' #'https://media.githubusercontent.com/media/kchu14/Northeastern-Transportation-Analysis/master/data_sets/'
data_sets['bluebikes_data_MH_NEU'] = pd.read_csv(f'{git_url}Bluebikes_Data_MH_NEU.csv')
data_sets['bluebikes_data_NEU_MH'] = pd.read_csv(f'{git_url}Bluebikes_Data_NEU_MH.csv')
#data_sets['uber_ids'] = pd.read_csv(f'{git_url}Uber_Data_IDs.csv')
data_sets['uber_mh_neu'] = pd.read_csv(f'{git_url}Uber_Data_MH_NEU.csv')
data_sets['uber_neu_mh'] = pd.read_csv(f'{git_url}Uber_Data_NEU_MH.csv')
data_sets['uber_neu_mh_monthly'] = pd.read_csv(f'{git_url}Uber_Data_NEU_MH_Monthly.csv')
data_sets['uber_mh_neu_monthly'] = pd.read_csv(f'{git_url}Uber_Data_MH_NEU_Monthly.csv')
data_sets['uber_tips'] = pd.read_csv(f'{git_url}Uber_Data_Tips.csv')


# uber_origin_NEU = [
#     'Northeastern University Interdisciplinary Science and Engineering Complex, 805 Columbus Ave, Boston, MA',
# 'Northeastern University, 360 Huntington Ave, Boston, MA'
# ]
# uber_dest_MH = ['100 Saint Alphonsus Street, Mission Hill, Boston',
# '100 Fisher Avenue, Mission Hill, Boston',
# '0 McGreevey Way, Mission Hill, Boston']
# uber_origin_MH = ['Mission Hill Main Streets, 1534 Tremont St, Roxbury Crossing, MA']
# uber_dest_NEU = ['40 Leon Street, Fenway/Kenmore, Boston',
# '360 Huntington Avenue, Prudential / St. Botolph, Boston']

uber_stop_to_closest_station = {}
# (t, bikes)
brigham_t = '690 Huntington Avenue, Boston, MA 02115'
brigham_bike = '15 Francis Street, Boston, MA 02115'
ruggles_t = '835 Colombus Avenue, Boston, MA 02120'
ruggles_bike = '835 Colombus Avenue, Boston, MA 02120'
roxbury_t = '1400 Tremont St, Boston, MA 02120'
roxbury_bike = '1400 Tremont St, Boston, MA 02120'
northeastern_t = '360 Huntington Avenue, Prudential / St. Botolph, Boston'
uber_stop_to_closest_station['805 Columbus Ave, Boston, MA'] = (ruggles_t, ruggles_bike)
uber_stop_to_closest_station['100 Saint Alphonsus Street, Mission Hill, Boston'] = (brigham_t, brigham_bike)
uber_stop_to_closest_station['100 Fisher Avenue, Mission Hill, Boston'] = (roxbury_t, roxbury_bike)
uber_stop_to_closest_station['47 McGreevey Way, Mission Hill, Boston'] = (brigham_t, brigham_bike)
uber_stop_to_closest_station['534 Tremont St, Roxbury Crossing, MA'] = (ruggles_t, ruggles_bike) 
uber_stop_to_closest_station['40 Leon Street, Fenway/Kenmore, Boston'] = (ruggles_t, ruggles_bike)
uber_stop_to_closest_station['360 Huntington Avenue, Prudential / St. Botolph, Boston'] = (northeastern_t, ruggles_bike)

In [54]:
import time
map_quest_api_url = 'http://www.mapquestapi.com/directions/v2/route'
api_key = open('./api_key').read()
walking_times = {}

for key, value in uber_stop_to_closest_station.items():
    PARAMS = {'key':api_key,'routeType':'pedestrian', 'from': key, 'to': value[0]} 
    r = requests.get(url = map_quest_api_url, params = PARAMS) 
    data1 = r.json() 
    time.sleep(.5)
    PARAMS = {'key':api_key,'routeType':'pedestrian', 'from': key, 'to': value[1]} 
    r = requests.get(url = map_quest_api_url, params = PARAMS) 
    data2 = r.json() 
    print(f'Time it takes to walk from {key} to {value[0]} is {data1["route"]["formattedTime"]}')
    print(f'Time it takes to walk from {key} to {value[1]} is {data2["route"]["formattedTime"]}')
    walking_times[key] = (data1["route"]["formattedTime"], data2["route"]["formattedTime"])

siAvMEuUie853rP4T1v1Vuyfu3ndxR89
time it takes to walk from 805 Columbus Ave, Boston, MA to 835 Colombus Avenue, Boston, MA 02120 is 00:02:17
time it takes to walk from 805 Columbus Ave, Boston, MA to 835 Colombus Avenue, Boston, MA 02120 is 00:02:17
time it takes to walk from 100 Saint Alphonsus Street, Mission Hill, Boston to 690 Huntington Avenue, Boston, MA 02115 is 00:05:40
time it takes to walk from 100 Saint Alphonsus Street, Mission Hill, Boston to 15 Francis Street, Boston, MA 02115 is 00:07:29
time it takes to walk from 100 Fisher Avenue, Mission Hill, Boston to 1400 Tremont St, Boston, MA 02120 is 00:16:16
time it takes to walk from 100 Fisher Avenue, Mission Hill, Boston to 1400 Tremont St, Boston, MA 02120 is 00:16:16
time it takes to walk from 47 McGreevey Way, Mission Hill, Boston to 690 Huntington Avenue, Boston, MA 02115 is 00:07:08
time it takes to walk from 47 McGreevey Way, Mission Hill, Boston to 15 Francis Street, Boston, MA 02115 is 00:11:25
time it takes to walk from 534 Tremont St, Roxbury Crossing, MA to 835 Colombus Avenue, Boston, MA 02120 is 00:06:48
time it takes to walk from 534 Tremont St, Roxbury Crossing, MA to 835 Colombus Avenue, Boston, MA 02120 is 00:06:48
time it takes to walk from 40 Leon Street, Fenway/Kenmore, Boston to 835 Colombus Avenue, Boston, MA 02120 is 00:07:17
time it takes to walk from 40 Leon Street, Fenway/Kenmore, Boston to 835 Colombus Avenue, Boston, MA 02120 is 00:07:17
time it takes to walk from 360 Huntington Avenue, Prudential / St. Botolph, Boston to 360 Huntington Avenue, Prudential / St. Botolph, Boston is 00:00:00
time it takes to walk from 360 Huntington Avenue, Prudential / St. Botolph, Boston to 835 Colombus Avenue, Boston, MA 02120 is 01:56:19

### 3.3. Model Construction
* If you proposed hypotheses, conduct your hypothesis tests
* For your machine learning question(s), split data into training, validation, and testing sets (or use cross-validation)
* Apply machine learning algorithms (apply at least three algorithms)
* Train your algorithms

In [43]:
data_sets['uber_tips']

,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Community Area,Dropoff Community Area,Fare,Tip,Additional Charges,Trip Total,Shared Trip Authorized,Trips Pooled,Pickup Centroid Location,Dropoff Centroid Location
0,2/12/2019 19:15,2/12/2019 19:15,248,0.746336,3.0,3.0,2.5,0.0,2.55,5.05,False,1,POINT (-87.6631958495 41.9654457842),POINT (-87.6573411073 41.9727095466)
1,3/14/2019 22:15,3/14/2019 22:30,900,5.371249,8.0,22.0,5.0,0.0,0.72,5.72,True,2,POINT (-87.6262105324 41.8991556134),POINT (-87.6850821101 41.9212731053)
2,3/26/2019 13:30,3/26/2019 13:45,"1,009",5.669338,33.0,24.0,5.0,0.0,2.55,7.55,True,4,POINT (-87.6305800611 41.8612808467),POINT (-87.6753116216 41.906025969)
3,11/15/2018 23:00,11/15/2018 23:15,733,6.879594,76.0,NaN,10.0,0.0,9.52,19.52,False,1,POINT (-87.9030396611 41.9790708201),NaN
4,2/8/2019 8:30,2/8/2019 8:45,675,3.251938,10.0,NaN,10.0,0.0,0.00,10.00,True,1,POINT (-87.7942692959 41.9956031347),NaN
5,3/23/2019 0:00,3/23/2019 0:30,"1,753",8.373755,24.0,77.0,15.0,1.0,0.00,16.00,True,2,POINT (-87.6842894005 41.8921964292),POINT (-87.6641882421 41.9799124453)
6,3/28/2019 9:30,3/28/2019 9:45,922,8.135169,21.0,NaN,12.5,0.0,2.55,15.05,False,1,POINT (-87.7220523299 41.9337850524),NaN
7,4/11/2019 19:45,4/11/2019 20:15,"2,331",8.767741,23.0,4.0,12.5,1.0,0.00,13.50,True,2,POINT (-87.7209182385 41.9000696026),POINT (-87.6875155152 41.9751709433)
8,1/13/2019 18:30,1/13/2019 19:15,"2,929",22.718273,19.0,68.0,30.0,0.0,2.55,32.55,True,1,POINT (-87.7655016086 41.9272609555),POINT (-87.6424975271 41.7771962546)
9,11/13/2018 16:00,11/13/2018 16:00,344,0.748273,32.0,28.0,5.0,0.0,2.50,7.50,False,1,POINT (-87.6327464887 41.8809944707),POINT (-87.6428084655 41.8853000224)
10,2/13/2019 22:15,2/13/2019 22:45,"1,297",9.440528,29.0,NaN,12.5,0.0,2.55,15.05,True,2,POINT (-87.7078663416 41.8615808621),NaN
11,3/9/2019 12:30,3/9/2019 12:45,954,4.609332,68.0,39.0,10.0,0.0,2.55,12.55,False,1,POINT (-87.6424975271 41.7771962546),POINT (-87.5961833442 41.8089162826)
12,4/29/2019 9:45,4/29/2019 10:00,918,6.507484,76.0,NaN,12.5,0.0,7.55,20.05,False,1,POINT (-87.9030396611 41.9790708201),NaN
13,3/4/2019 9:45,3/4/2019 10:45,"3,465",17.315497,56.0,32.0,55.0,10.0,7.85,72.85,False,1,POINT (-87.7509342894 41.785998518),POINT (-87.6219716519 41.8774061234)
14,12/10/2018 14:00,12/10/2018 14:30,"1,232",4.551681,23.0,28.0,7.5,0.0,2.50,10.00,True,2,POINT (-87.7209182385 41.9000696026),POINT (-87.6635175498 41.874005383)
15,4/11/2019 19:15,4/11/2019 19:30,"1,128",4.135686,69.0,43.0,7.5,0.0,2.55,10.05,True,2,POINT (-87.6161341112 41.7632467988),POINT (-87.5727819867 41.7615779081)
16,4/27/2019 9:15,4/27/2019 9:30,992,11.140544,16.0,76.0,15.0,0.0,7.55,22.55,False,1,POINT (-87.7234523905 41.9535821253),POINT (-87.913624596 41.9802643146)
17,4/27/2019 10:00,4/27/2019 10:15,685,1.959366,28.0,32.0,7.5,3.0,2.55,13.05,False,1,POINT (-87.6618611238 41.8741766252),POINT (-87.6219716519 41.8774061234)
18,12/27/2018 10:00,12/27/2018 10:15,780,5.052922,6.0,8.0,7.5,0.0,2.50,10.00,True,1,POINT (-87.6439653703 41.949829346),POINT (-87.6188683546 41.8909220259)
19,4/12/2019 17:15,4/12/2019 17:30,754,1.099901,32.0,8.0,10.0,0.0,2.55,12.55,False,1,POINT (-87.6327464887 41.8809944707),POINT (-87.6288741572 41.8920726347)
20,12/10/2018 6:45,12/10/2018 7:00,870,6.011400,6.0,32.0,10.0,0.0,2.50,12.50,False,1,POINT (-87.6568039088 41.9491397709),POINT (-87.6209929134 41.8849871918)
21,1/23/2019 19:15,1/23/2019 19:30,550,1.505722,8.0,8.0,5.0,0.0,0.00,5.00,True,3,POINT (-87.630963601 41.9094956686),POINT (-87.6318639497 41.8920421365)
22,3/18/2019 7:30,3/18/2019 7:45,828,3.981495,32.0,28.0,7.5,0.0,2.55,10.05,False,1,POINT (-87.6209929134 41.8849871918),POINT (-87.6750856208 41.8704150003)
23,12/11/2018 14:45,12/11/2018 15:00,495,1.382442,8.0,32.0,5.0,0.0,2.50,7.50,True,2,POINT (-87.6378442095 41.8932163595),POINT (-87.6209929134 41.8849871918)
24,11/9/2018 1:15,11/9/2018 1:15,197,0.398207,6.0,6.0,2.5,0.0,2.50,5.00,False,1,POINT (-87.6467820813 41.938232293),POINT (-87.6542980837 41.9462945357)
25,4/6/2019 21:00,4/6/2019 21:30,"1,765",10.970707,42.0,8.0,12.5,0.0,0.00,12.50,True,2,POINT (-87.5949254391 41.7788768603),POINT (-87.6333080367 41.899602111)
26,11/18/2018 4:30,11/18/2018 4:30,588,2.456823,8.0,6.0,7.5,0.0,2.50,10.00,False,1,POINT (-87.6499072264 41.9049353016),POINT (-87.6564115308 41.9362371791)
27,11/9/2018 16:15,11/9/2018 17:00,"2,230",7.452951,28.0,3.0,10.0,0.0,2.50,12.50,True,3,POINT (-87.6572331997 41.8852813201),POINT (-87.6523653588 41.9636331692)
28,2/5/2019 16:45,2/5/2019 17:15,"1,949",5.026117,20.0,6.0,12.5,1.0,2.55,16.05,False,1,POINT (-87.7376199977 41.9350581526),POINT (-87.6515625922 41.9363101308)
29,12/26/2018 22:00,12/26/2018 22:15,883,7.481955,8.0,30.0,12.5,0.0,2.50,15.00,False,1,POINT (-87.6197106717 41.8950334495),POINT (-87.6935387966 41.853834685)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,11/4/2018 14:00,11/4/2018 14:30,"1,597",13.231088,76.0,22.0,20.0,0.0,7.50,27.50,False,1,POINT (-87.9030396611 41.9790708201),POINT (-87.6997544065 41.9211259143)
999971,4/19/2019 19:00,4/19/2019 19:30,"2,191",7.428744,4.0,1.0,10.0,1.0,2.55,13.55,True,3,POINT (-87.6788459662 41.9725625375),POINT (-87.6639582144 42.0094125471)
999972,3/8/2019 21:30,3/8/2019 21:45,919,2.935892,28.0,32.0,7.5,2.0,2.55,12.05,False,1,POINT (-87.6716536214 41.8786674201),POINT (-87.6209929134 41.8849871918)
999973,11/17/2018 13:00,11/17/2018 13:15,348,0.946218,32.0,8.0,5.0,0.0,2.50,7.50,False,1,POINT (-87.6327464887 41.8809944707),POINT (-87.6188683546 41.8909220259)
999974,1/22/2019 13:15,1/22/2019 13:15,314,0.815936,8.0,32.0,5.0,0.0,0.00,5.00,True,1,POINT (-87.6262149064 41.8925077809),POINT (-87.6327464887 41.8809944707)
999975,1/18/2019 10:00,1/18/2019 10:15,674,1.931395,8.0,8.0,7.5,0.0,2.55,10.05,False,1,POINT (-87.6262149064 41.8925077809),POINT (-87.6409015248 41.9074128162)
999976,4/6/2019 13:30,4/6/2019 13:30,331,1.503780,50.0,50.0,5.0,0.0,2.55,7.55,False,1,POINT (-87.5982558383 41.7061257523),POINT (-87.5982558383 41.7061257523)
999977,1/10/2019 16:45,1/10/2019 17:00,754,2.887443,39.0,35.0,5.0,0.0,2.55,7.55,True,2,POINT (-87.5874792581 41.8059116993),POINT (-87.6192497579 41.8274416865)
999978,2/10/2019 0:45,2/10/2019 1:00,455,1.863978,6.0,3.0,5.0,0.0,2.55,7.55,False,1,POINT (-87.6517705068 41.9426918444),POINT (-87.6453787624 41.962178629)
999979,1/12/2019 11:00,1/12/2019 11:45,"2,077",21.203316,43.0,NaN,27.5,0.0,2.55,30.05,False,1,POINT (-87.5812710169 41.7642434593),NaN
999980,3/13/2019 2:45,3/13/2019 2:45,209,1.072684,42.0,69.0,2.5,1.0,2.55,6.05,False,1,POINT (-87.5949254391 41.7788768603),POINT (-87.6161341112 41.7632467988)
999981,12/4/2018 4:15,12/4/2018 4:45,"1,400",16.438152,7.0,56.0,22.5,0.0,7.50,30.00,False,1,POINT (-87.6494887289 41.9226862843),POINT (-87.7696154528 41.7925923603)
999982,3/19/2019 7:00,3/19/2019 7:15,785,3.848097,8.0,28.0,7.5,5.0,2.55,15.05,False,1,POINT (-87.6318639497 41.8920421365),POINT (-87.6750856208 41.8704150003)
999983,2/1/2019 8:15,2/1/2019 8:30,698,1.844452,28.0,28.0,7.5,1.0,2.55,11.05,False,1,POINT (-87.6806541164 41.8773834707),POINT (-87.6429586652 41.8679024175)
999984,2/5/2019 18:15,2/5/2019 18:30,284,0.339300,32.0,32.0,5.0,0.0,2.55,7.55,False,1,POINT (-87.6314065252 41.8710158803),POINT (-87.6314065252 41.8710158803)
999985,1/19/2019 13:30,1/19/2019 14:15,"2,906",17.168919,52.0,8.0,17.5,0.0,2.55,20.05,True,2,POINT (-87.5349029012 41.707311449),POINT (-87.6333080367 41.899602111)
999986,11/11/2018 17:45,11/11/2018 18:30,"2,165",27.663532,NaN,31.0,32.5,0.0,0.00,32.50,True,1,NaN,POINT (-87.667569312 41.8502663663)
999987,11/19/2018 7:30,11/19/2018 7:45,966,2.802560,23.0,24.0,7.5,0.0,2.50,10.00,False,1,POINT (-87.7213158985 41.8990616211),POINT (-87.674506788 41.8923550478)
999988,3/6/2019 18:30,3/6/2019 18:45,816,2.863713,8.0,7.0,2.5,0.0,2.55,5.05,True,4,POINT (-87.6197106717 41.8950334495),POINT (-87.6462109769 41.9218549112)
999989,12/15/2018 19:00,12/15/2018 20:00,"3,183",31.526839,28.0,NaN,42.5,9.0,3.25,54.75,False,1,POINT (-87.642648998 41.8792550844),NaN
999990,1/9/2019 7:15,1/9/2019 8:00,"2,674",14.734702,77.0,76.0,27.5,2.0,8.15,37.65,False,1,POINT (-87.6634164054 41.9867117999),POINT (-87.913624596 41.9802643146)
999991,11/1/2018 18:00,11/1/2018 18:15,817,1.309973,28.0,8.0,7.5,0.0,2.50,10.00,False,1,POINT (-87.642648998 41.8792550844),POINT (-87.6318639497 41.8920421365)
999992,11/19/2018 22:45,11/19/2018 22:45,277,0.420224,8.0,8.0,2.5,0.0,2.50,5.00,False,1,POINT (-87.6288741572 41.8920726347),POINT (-87.6318639497 41.8920421365)
999993,11/18/2018 1:45,11/18/2018 2:00,594,1.435033,8.0,32.0,5.0,0.0,2.50,7.50,False,1,POINT (-87.6318639497 41.8920421365),POINT (-87.6314065252 41.8710158803)
999994,1/1/2019 12:15,1/1/2019 12:45,"1,583",15.132716,70.0,33.0,5.0,0.0,2.78,7.78,True,4,POINT (-87.7083657043 41.7457577128),POINT (-87.6203346241 41.8571838585)
999995,1/12/2019 17:45,1/12/2019 18:00,451,1.035922,8.0,32.0,5.0,2.0,2.55,9.55,False,1,POINT (-87.6262149064 41.8925077809),POINT (-87.6327464887 41.8809944707)
999996,11/24/2018 17:30,11/24/2018 17:45,721,6.345254,6.0,32.0,20.0,3.0,2.80,25.80,False,1,POINT (-87.6439653703 41.949829346),POINT (-87.6219716519 41.8774061234)
999997,1/19/2019 8:30,1/19/2019 8:45,"1,212",7.101690,38.0,32.0,12.5,0.0,0.00,12.50,True,2,POINT (-87.6178596758 41.8129489392),POINT (-87.6251921424 41.8788655841)
999998,4/14/2019 16:30,4/14/2019 16:30,174,0.616998,32.0,32.0,2.5,0.0,2.55,5.05,False,1,POINT (-87.6327464887 41.8809944707),POINT (-87.6219716519 41.8774061234)
999999,12/4/2018 23:30,12/4/2018 23:45,337,1.875473,44.0,69.0,5.0,0.0,2.50,7.50,False,1,POINT (-87.6159695226 41.7402057565),POINT (-87.6161341112 41.7632467988)

### 3.4. Model Evaluation
* Evaluate the performance of your algorithms on appropriate evaluation metrics, using your validation set
* Interpret your results from multiple models (and hypothesis tests, if any)

### 3.5. Model Optimization
* Tune your models using appropriate hyperparameters
* Explain why you are doing this (e.g., to avoid overfitting, etc.)

### 3.6. Model Testing
* Test your tuned algorithms using your testing set

<a id="4"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 4. DISCUSSION
* Provide a summary of the steps you took to analyze your data and test your predictive model
* Intepret your findings from 3.4., 3.5, and 3.6
    * Which algorithms did you compare?
    * Which algorithm(s) revealed best performance?
    * Which algorithm(s) should be used for your predictive model?
* If you tested hypotheses, interpret the results. What does it mean to have significant/non-significant differences with regards to your data?


* End this section with a conclusion paragraph containing some pointers for future work 
    *(e.g., get more data, perform another analysis, etc.)

<a id="5"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

### CONTRIBUTIONS
* Describe each team member's contributions to the report (who did what in each section)
* Remember this is a team effort!
* Each member of your team will provide peer evaluation of other team members. Your final grade on the project will be based on those peer evaluations.